.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark-big);
    display: flex;
    flex-direction: column;
    //test
    min-height: 500px;

    @include respond($mq-tablet-landscape) {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

}