.cta {
    text-align: center;
    padding: 3.5rem;

    &__book-now {
        font-size: 1.7rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    .btn {
        border-radius: 500px;
        border: none;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        color: white;
        position: relative;
        overflow: hidden;
        text-align: center;

        & > * {            
            display: inline-block;           
            transition: all .2s;              
            width: 100%;
            height: 100%;
        }

        &__text-visible {                  
            padding: 2rem 7.5rem;
        }

        &__text-invisible { 
            position: absolute;
            top: -100%;
            left: 0;                       
            padding: 2rem 0rem;

        }

        &:hover {
            background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));

            & .btn__text-visible {
                transform: translateY(100%);

            }

            & .btn__text-invisible {
                top: 0;

            }
        }

        &:focus {
            outline: none;
            animation: pulse 1s infinite;

        }
    }


}