.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 1 19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    @include respond($mq-tablet-portrait) {
        flex-direction: row;
        align-items: stretch;
        flex: 1 1;
    }


    .side-nav {
        font-size:  1.4rem;
        list-style: none;
        margin-top: 3.5rem;        

        @include respond($mq-tablet-portrait) {
            display: flex;
            flex-direction: row;
            margin-top: 0;
            flex: 1 1;
            flex-wrap: wrap;
        }

        &__item {
            position: relative;
            padding-left: 1rem;
            
            @include respond($mq-tablet-portrait) {
                flex: 1;
                display: flex;
                justify-content: center;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;

                @include respond($mq-tablet-portrait) {
                    margin-bottom: 0;
                }
            }
        }

        &__item::before {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transition: transform .2s,
                        width .2s cubic-bezier(.69,.12,.95,.93) .2s,
                        background-color .1s;
            transform: scaleY(0);

        }

        &__item:hover::before,
        &__item--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &__item:active::before {
            background-color: var(--color-primary-light);
        }




        &__link:link,
        &__link:visited {            
            display: flex;
            align-items: center;
            color: var(--color-grey-light-1);
            text-decoration: none;
            text-transform: uppercase;
            padding: 1.5rem;
            position: relative;
            z-index: 100;

            @include respond($mq-tablet-portrait) {
                justify-content: center;
            }
        }

        &__icon {
            height: 2rem;
            width: 2rem; 
            margin-right: 2rem;
            fill: currentColor;
        }
    }


    .legal {
        font-size: 1.3rem;
        color: var(--color-grey-light-4);
        padding: 2.5rem;

        

        @include respond($mq-phone) {
            display: none;
            visibility: hidden;
        }

        
    }
}

